{%extends 'index.html'%}
{% load static %}
{% block content %}

<div class="row"  style="padding-top:20px;">
  <div class="col-sm-6 grid-margin">
    <div class="card" style="height: 280px">
    <a href="prass" style="text-decoration: none;">
      <div class="card-body">
        
        <div class="row" style="padding-top:50px;">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0" style= "color:white;">Assigned Task</h2>
              
            </div>
            
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="mdi mdi-pencil-box-outline text-warning" style="font-size: 70px"></i>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>

  <div class="col-sm-6 grid-margin">
    <div class="card" style="height: 280px">
      <div class="card-body">
      <a href="prtrainees" style="text-decoration:none;">
        
        <div class="row" style="padding-top:50px;">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0" style= "color:white;">Trainees</h2>
              
            </div>
            
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="mdi mdi-account-group text-primary" style="font-size: 70px" ></i>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
{%endblock%}